 /* added Fira Sans font */   
body {
  font-family: 'Fira Sans', sans-serif;
}

header, main{
  margin: auto 155px;
}

body{ background-color: rgb(249, 249, 249);}

/* Shared Section */

.common-bg {background-color: rgb(198, 228, 214);}

.green-bg {background-color:#006A50;}

.light-blue {background-color: rgba(84, 144, 245, 0.2);}

.deep-blue {background-color: rgb(84, 144, 245);}

.light-green {background-color: rgb(198, 228, 214);}

.deep-green {background-color: rgb(9, 161, 92);}

.light-yellow {background-color: rgb(247, 235, 207);}

.deep-yellow {background-color: rgb(255, 194, 57);}



button:hover{
  cursor: pointer;
  color: white;
  border: black;
  background-color: rgb(61, 141, 227);
  border: 1px solid #032c32;}


.photo-resize{
  width: 40%;
  height: 60%;}


.head-space{ margin-top: 80px;}




/* Nav Section */
header{
  display:flex;
  justify-content: space-between;
  margin: 30px 0px;
  align-items: center;
  padding: 24px 160px 24px 160px;
}

.sign-in-btn {
  padding: 15px 30px;
  color: rgb(0, 106, 80);
  border: 1px solid #006A50;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  background-color: white;
}

    /*  Banner Section    */

.banner{
  display: flex;
  gap: 50px;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  padding: 80px 80px; }

#bd2{
  font-size: 24px;
  font-weight: 500;
  color: rgba(14, 14, 14, 0.5); }

#banner-slogan{
  font-size: 30px;
  font-weight: 700;
  text-align: left;  }

.banner-btn> button{
  padding: 17px 34px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  border: none;   }



    /* PILLER SECTION */


#piller-info{
  margin-top: 100px;
  margin-bottom: 32px;
}

#piller-info>h2{
  font-size: 30px;
}

#piller-content{
  display: flex;
  gap: 25px;
}

.pill-h5{
  box-sizing: border-box;
  padding: 24px;
  border: 1px solid rgba(75, 72, 72, 0.15);
  border-radius: 12px;
  background-color: white;
}

.pill-h5>h5{
  font-size: 18px;
  margin-bottom: 8px;
}

.pill-h5>p{
  color: rgba(14, 14, 14, 0.7);
  /* text-align: justify; */
}



    /* Vision of Future Section */
   
    
#vision-heading{
  margin-top: 80px; }

#vision-heading>h2{
  margin:0px 0px 24px 0px;
  font-size: 30px;  }
  
#vision-heading>p{
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 32px;  }

#vision{
  display: flex;
  justify-content:space-evenly;
  gap: 25px; }

.vision-content{
  padding: 28px;
  box-sizing: border-box;
  border-radius: 15px;
  border: none; }


.vision-content>h5{
  font-size: 18px;
  margin-bottom: 8px;  }

.vision-content>p{
    color: rgba(14, 14, 14, 0.7); }

.vision-btn>button{
  margin: 28px 0px auto;
  padding: 11px 20px;
  border-radius: 8px;
  font-weight: 600;
  border: none;
  color: white  }


.vision-btn button:hover{
  cursor: pointer;
  background-color:rgb(203, 22, 206);
  color: black;
  border: 1px solid ;
}


/* Quotes Section */

#quotes{
  margin-top: 68px;
  margin-bottom: 68px;
  padding: 42px 22px;
  border: 1px solid rgba(206, 194, 194, 0.7);
  border-radius: 15px;
  background-color: white;
  background-image:url(../assets/quote-bg.png);
  background-repeat: no-repeat;
  background-attachment: absolute;
  background-position:25px 35px;}

#quotes>h5{
  font-size: 22px;
  font-weight: 600;
  margin-top: 12px;
  margin-bottom:5px;
  color: rgba(14, 14, 14, 0.8);}

#quotes-content{ color: rgba(14, 14, 14, 0.8);
  /* text-align: justify;  */ }

#quotes-title{
   color: rgba(14, 14, 14, 0.6);
   margin: 0px;   }
   

/* Opinion Box Section */


#opinion-box{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 30px;  }

#opinion-box>h2{
  font-size: 30px;
  margin-bottom: 25px;
  align-self: flex-start;
  margin: 0%;  }

#table{
  width: 100%;
  padding: 30px;
  border: none;
  border-radius: 15px;
  box-sizing: border-box;
  background-color: white; 
}

#table table{
  width: 1150px;
}



table, th ,td{
  border: 1px solid  rgba(14, 14, 14, 0.2);
  border-collapse: collapse;
  padding: 15px;  }


th{
  background-color: rgb(198, 228, 214);
  font-weight: bold;  }

td{
  font-size: 16px;
  font-weight: 600;
  color: rgb(14, 14, 14);  }

#column-1{
  text-align: start;
  border-right: none; }
#column-2{
  border-left: none;
  text-align: left; }


select {
  padding: 8px 12px;
  font-size: 16px;
  background-color:rgb(198, 228, 214);
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;}


  /* Recent News Section */

  
#R-title{
  font-size: 30px;
  margin-bottom: 25px; }

#R-Description{
  color: rgba(14, 14, 14, 0.7); }


.News-Article{
  display: flex;
  gap: 30px;
  padding: 45px;
  border-radius: 20px;
  background-color: white;  }

.News-Article img {
  border-radius: 15px;  }

.News-Article h2 {
  font-size: 22px;
  margin: 0px 0px 8px 0px; }

.date-time{ 
  display: flex;
  gap: 10px;
  margin: 3px auto;
}

.News-Article  p{
  color: rgba(14, 14, 14, 0.7); }

.Read-more {
  font-weight: 600;
  padding: 13px 26px;
  border-radius: 7px;
  border: none;
  color: white  }

#section-1{
  margin-bottom: 20px;
}

#section-2{
  margin-bottom: 20px;
}

#article-2{
  display: flex;
  flex-direction: row-reverse;
}



/* Donation Section */


#Donation{
  text-align: center;
  margin-top: 80px;
}

#Donation h2 {
  font-size: 30px;
  color: rgb(14, 14, 14);
  margin-bottom: 24px;
}

#message{
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 32px;
}

#fund-amount{
  display: flex;
  justify-content: center;
  gap: 35px;
}


.amount p{
  padding:32px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background-color: white;
  font-size:35px;
  font-weight: 700;
  border-radius: 8px;
  margin-top: 0px;
  margin-bottom: 32px;
}


.primary-amount{
  color: rgba(14, 14, 14, 0.8);
}

#bill{ 
  background-color: rgb(198, 228, 214);
}

.primary-amount:hover{
  background-color: rgb(61, 141, 227);
}

#bill :hover{
  background-color: rgb(61, 141, 227)
}   /* Error hocche keno bujhtesina */



#input-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

#input-box input{
  width: 85%;
  height: 62px;
  border: black;
  border-radius: 6px;
  box-shadow:1px 1px 1px 1px rgba(116, 114, 114, 0.3);
}

#input-box ::placeholder{
  text-align: center;
  padding: 20px 40px;
  font-size: 20px;
}

#input-box button{
  padding: 17px 32px;
  border-radius: 8px;
  font-weight: 600;
  border: none;
  color: white; }



  /* Newsletter Section */


.newsletter{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 18px;
  margin-top: 80px;
  padding: 70px 100px;
}

.newsletter h2{
  font-weight: 700;
  color: rgb(14, 14, 14);
  font-size: 30px;
  margin-top: -3px;
  margin-bottom: 16px;
}

.newsletter p{
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  text-align: center;
  margin-bottom: 24px;
}


.newsletter-form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.newsletter-form input[type="email"] {
  width: 600px;
  height: 50px;
  font-size: 14px;
  border: none;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.newsletter-form ::placeholder{
  padding: 18px 50px;
}

.newsletter-form button {
  background-color: #006A50;;
  color: white;
  border: none;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 17px 34px 17px 34px;
  font-size: 14px;
}

.newsletter-form button:hover {
  background-color: rgb(61, 141, 227);
}

.newsletter-footer {
  margin-top: 30px;
}

/* Footer Section */


footer{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  margin-top: 130px;
}


footer hr{
  width: 65%;
  color: rgba(14, 14, 14, 0.1);
}

footer img{
  height: 20px;
  margin: 3px;
}


/* Done */